@import url("https://fonts.googleapis.com/css2? family=Muli&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: snow;
}

.bg {
  background-repeat: no-repeat;
  height: 100px;
}

.container {
  background-color: black;
  height: 35rem;
  width: 70rem;
  padding: 20px 40px;
  border-radius: 5px;
}

.container h1 {
  margin-left: 37rem;
  font-weight: bolder;
  margin-bottom: 30px;
}
.container a {
  text-decoration: none;
  color: lightblue;
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 10rem;
  padding: 2rem;
  margin: 3rem;
  margin-left: 37rem;
  margin-bottom: 5rem;
  background: lightblue;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}
.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}

.text {
  margin-top: -3rem;
  margin-left: 37rem;
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
  margin-left: 600px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}
.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}
.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: lightblue;
  transform: translateY(-30px);
}

.signupas {
  margin-left: 600px;
}

.opt {
  margin-left: 600px;
}

.next {
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-left: 600px;
  padding: 14px 40px;
}
.next input{
  background-color: snow; /* Green */
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  padding: 10px 20px;
}